.loginForm {
  text-align: center;
}

.login-input {
  width: 10%;
  padding: 10px 15px;
  margin: 8px 0;
  box-sizing: border-box;

}

.login-button {
  border: 2px solid black;
  padding: 12px 28px;
  border-radius: 6px;
}

.nav {
  display: inline;
  width: 100%;
  display: flex;
  background-color: gray;
}

.nav a {
  color: white;
  margin-right: 50px;
  text-decoration: none;
  font-size: 19px;
  padding: 25px 15px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.landing {
  background-color: rgb(77, 150, 195);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%;
}

.landing-img {
  max-width: 500px;
  max-height: auto;
  display: block;
}

.landing h2{
  text-align: center;
  padding-bottom: 30px;
  margin: 20px 0;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}